body
{
background-size: cover;
background-position:center;
}
.heading
{
font-size: 40px;
width: 100%;
margin: 0px;
color: blue;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 300;
}